.space{
    margin-left: 530px;
}
.cart-icon{
    font-size:25px;
}
.counter{
    border-radius: 50%;
    background-color: red;
    position: relative;
    bottom: 15px;
    left: 38px;
    padding: 0px 5px;
}
.search{
	 margin-left: 230px;
}
li{
    list-style: none;
}

.style{
    padding: 2px;
    margin-left: 10px;
    color: #3F51B5;
    width: 250%;
}
.space-right{
    margin-right: 100px;
}
.form-control{
    width: 250%;
}
.nav-link{
    color: white;
}
.spacelink{
    margin-left: 28px;
}
.bg-nav{
    background-color: #fffde1;
}
.btn-primary{
    background-color: #5aaaff;
    border: 1px solid #5aaaff;
}
.size-logo{
    width: 200px;
}
