.sign-up{
    width: 50%;
    border: 1px solid #ff9d76;
    border-radius: 3%;
    height: 480px;
    // padding: 0px;
}
.header{
    color: white;
    background-color: #ff9d76;
   height: 60px;
   text-align: center
    
}
.card-space{
    margin-top: 100px
}